.button {
    cursor: pointer;
    border: none;
    padding: 17px;

    &.primary {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #00252E;
        background: #FFFFFF;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
        border-radius: 24px;
        width: 200px;

        @media (max-width: 375px) {
            padding: 4px;
            width: 96px;
        }

        &:hover {
            background: #FFFFFF;
            box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
            color: #808E9A;
        }
    }

    &.secondary {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
        color: #FFFFFF;
        background: #FF52C1;
        border-radius: 28px;
        width: 280px;
        @media (max-width: 375px) {
            width: 240px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }


        &:hover {
            background: #FF9ADB;
            box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
            color: #FFFFFF;
        }
    }
}